*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
.text-primary{
    color:#FD6E0A ;
}
.button-primary{
    color: white;
    font-size:20px  ;
    font-weight:700 ;
    height: 64px ;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    padding: 18px 35px;
}
.button-2{
    color: #FD6E0A;
    font-size:20px  ;
    font-weight:700 ;
    height: 64px ;
    border-radius: 5px;
    background-color: white;
    border-width: 3px;
    border-color: #FD6E0A;
    margin-left: 30px;
    padding: 18px 35px;

}
/* header and nav styles */ 



nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 226px;
}
nav li{
    list-style: none ;
    margin-left: 51px;
}
nav ul{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}
.nav-title{
    font-weight:800;
    font-size: 45px;
}
/* banner work */
.banner{
    margin: 0px  100px 0px 226px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannertt{
    font-size: 85px;
    font-weight: 700;
}
.bannerst{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}
.bannerd{
    margin-bottom: 30px;
    color: #757575 ;
    font-size: 18px;
    font-weight: 400;
}
.header{
    background-color:#FFF8F3 ;
    background-image: url("images/header_bg.png"), url("images/developer.png") ;
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/*  MAIN SECTION*/
main{
    max-width: 1140 px;
    margin: 0 auto;
    
}
/* about */
.about{
    text-align: center;
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;

 
}

.about-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;

}
.section-des{
    font-size: 20px;
    color: #757575;
    margin-bottom:30px ;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{

}
.info-title{
    font-size: 20px;
    color:#757575 ;
    font-weight:400 ;
}
.info-description{
    font-size: 20px;
    color:#474747 ;
    font-weight:700 ;

}